* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  font-family: roboto;
}

main {
  width: 100%;
  padding: 5px;
  background-image: url("/images/background/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .hamburger {
    padding-top: 20px;
    width: 60px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
  }
  .hamburger_box {
    width: 25px;
    height: 20px;
    display: inline-block;
    position: relative;
  }
  .hamburger_inner {
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    background-color: #10c9c3;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s .1s ease-in-out;
  }
  .hamburger_inner::before, .hamburger_inner::after {
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    background-color: #10c9c3;
    content: ' ';
    left: 0;
    transition: transform  .3s .1s ease-in-out;
  }
  .hamburger, .menu_box {
    transition: transform .3s .1s ease-in-out;
  }
  .hamburger--active {
    transform: translateX(70px);
  }
  .hamburger_inner::after {
    top: 10px;
  }
  .hamburger_inner::before {
    top: -10px;
  }
  .hamburger--active .hamburger_inner {
    background-color: transparent;
  }
  .hamburger--active .hamburger_inner::before {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger--active .hamburger_inner::after {
    transform: translateY(-10px) rotate(-45deg);
  }
  .menu_box {
    background-color: #FFFFFF;
    padding: 10px;
    width: 90px;
    position: absolute;
    top: 0;
    left: -30px;
    transform: translateX(-80px);
    list-style: none;
    height: 40%;
    z-index: 100;
    border-radius: 10px;
  }
  .menu_box--active {
    transform: translateX(30px);
  }
  .menu_item {
    margin-bottom: 30px;
    padding-left: 5px;
    font-size: 13px;
  }
  .menu_item a {
    text-decoration: none;
    color: #171717;
    text-transform: uppercase;
  }
  .menu_item:hover a {
    color: #10c9c3;
  }
  main {
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
    height: 100vh;
  }
  main div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  main div img {
    width: 30px;
    height: 30px;
    padding: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    top: 100px;
    left: -80px;
    float: right;
    z-index: 0;
  }
  header h2 {
    font-size: 38px;
    margin-bottom: 40px;
  }
  header article {
    width: 100%;
    color: gray;
    font-size: 19px;
    margin-bottom: 30px;
  }
  header button {
    background-color: #10c9c3;
    width: 150px;
    height: 45px;
  }
  header button a {
    text-decoration: none;
    color: white;
  }
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.aboutUs h2 {
  margin-top: 20px;
}

.aboutUs article {
  width: 70%;
  margin: 30px;
}

.ProSkills {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 20px;
}

.ProSkills div {
  width: 50%;
}

.ProSkills_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProSkills div img {
  width: 100%;
  height: 100%;
}

.skill_inner {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.skill {
  width: 30%;
  height: 3px;
  position: absolute;
  background-color: grey;
  transition: transform  .3s .1s ease-in-out;
  margin-top: 10px;
}

.firstSkill {
  width: 75%;
  height: 3px;
  position: absolute;
  background-color: #10c9c3;
}

.secondSkill {
  width: 90%;
  height: 3px;
  position: absolute;
  background-color: #10c9c3;
}

.thirdSkill {
  width: 65%;
  height: 3px;
  position: absolute;
  background-color: #10c9c3;
}

.Information_skills {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10c9c3;
  flex-wrap: wrap;
}

.Information_skills div {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.Information_skills div img {
  width: 40px;
  height: 35px;
}

.Information_skills div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.Information_skills div div p {
  color: white;
}

@media (min-width: 1025px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("/images/background/main.jpg");
    height: 100vh;
    padding: 0;
  }
  main div {
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
  }
  main div img {
    width: 30px;
    height: 30px;
    padding: 20px;
  }
  .menu_box {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    background-color: white;
    border-radius: 30px;
    padding: 15px 35px;
  }
  .menu_box li {
    list-style: none;
    margin-left: 10px;
  }
  .menu_box li a {
    color: #171717;
    text-transform: uppercase;
  }
  .menu_box li a:hover {
    color: #10c9c3;
  }
  header {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    top: 300px;
    left: -50px;
  }
  header h2 {
    padding-bottom: 40px;
    width: 100%;
    font-size: 44px;
  }
  header article {
    padding-bottom: 30px;
    width: 100%;
    font-size: 20px;
  }
  header button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    background: #10c9c3;
  }
  header button a {
    text-decoration: none;
    color: white;
  }
}

.productSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productSection div {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productSection div:hover .eyeHover {
  z-index: 1;
  opacity: 90%;
}

.productSection div:nth-child(odd) {
  background-color: #f9f9f9;
}

.productSection div:nth-child(even) {
  background-color: #FFFFFF;
}

.products {
  transform: scale(0.7);
}

.eyeHover {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 300px;
}

@media (max-width: 400px) {
  .eyeHover {
    width: 300px;
    height: 200px;
  }
  .productSection div {
    width: 300px;
    height: 200px;
  }
}

.productText {
  background-color: #f9f9f9;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 80px;
}

.workSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-top: 50px;
}

.workSection p {
  width: 60%;
  padding: 20px;
}

.workSection video {
  width: 90%;
  padding: 20px;
}

.skillSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding-bottom: 50px;
  padding-top: 50px;
  height: 70%;
}

.skillSection div {
  width: 23%;
  min-width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillSection div p {
  width: 200px;
}

.skillSection div h2 {
  width: 100px;
}

.quteSection {
  background-color: #10c9c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: 50vh;
}

.quteSection p {
  padding: 20px;
  color: white;
}

.quteAuthor {
  font-size: large;
}

.qute {
  text-align: center;
  font-weight: 800;
  font-size: 26px;
}

.companySlider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}

.companySlider img {
  padding: 5px;
}

.formSection {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 60vh;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form input, form textarea {
  color: grey;
  width: 100%;
  margin: 10px;
  height: 40px;
}

form input[type=submit] {
  background-color: #10c9c3;
  color: white;
  font-size: small;
  padding: 10px;
  width: 180px;
  height: 55px;
}

.formName, .formMail {
  width: 50%;
  margin-bottom: 5px;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #f9f9f9;
  background-color: #171717;
  padding: 30px;
}

footer div {
  width: 200px;
  font-size: 17px;
  padding: 10px;
}

.informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.informations ul li {
  text-decoration: none;
  list-style: none;
  padding: 2px;
}

.informations ul li a {
  color: #f9f9f9;
}

@media (max-width: 500px) {
  main {
    background-color: #f9f9f9;
    background-image: none;
  }
  .ProSkillsImg {
    display: none;
  }
  .ProSkills_inner {
    flex-grow: 1;
    width: 100%;
  }
}
